<article class='comment-container container'>
	<header class='comment-header'>
		Insert user name here
	</header>
	<section class='comment-body'>
		<p class='comment-text'>
			<%= comment.text %>
		</p>
	</section>
	<footer>
		<nav class='post-nav'>
			Gold | Reply | Other
		</nav>
	</footer>
</article>