<%= form_for [@post, @new_comment] do |f| %>
	<div class="row">
	    <div class="input-group">
	      <span class="input-group-btn">
	      	<%= f.submit 'Save', class: 'btn btn-success' %>
	      </span>
	      <%= f.text_field :text, id: 'new_comment_text', class: 'form-control', placeholder: 'Comments...' %>
	    </div><!-- /input-group -->
	</div><!-- /.row -->
<% end %>