<article class='post container'>
	<header class='post-header'>
		<%= post.title %>
	</header>
	<section class='post-body'>
		<p class='post-text'>
			<%= post.text %>
		</p>
	</section>
	<footer>
		<nav class='post-nav'>
			<%= link_to pluralize(post.comments.count, 'comment'), new_post_comment_path(post), class: 'comments-link' %>
		</nav>
	</footer>
</article>