// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-footer {
	line-height: 0.5;
	background-color: white !important;
}

.post-body {
	width: 90%;
	margin-left: 10%;
	padding-bottom: 5px !important;
}

.post-vote {
	float: left;
	display: inline-block;
}

.post-voting {

	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;

	a, span {
		display: flex;
	}
}

.well {
	background-colour: white;
	margin-bottom: 0px !important;
	width: 100%;
}

.post-metadata {
	float: right;
}

.media-link {
	float: left;
	display: inline-block;
	font-size: 0;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 2px;
	overflow: hidden;
	width: 70px
}

.media-object{
	height: 70px;
	width: auto;
}

.wrapper {
	float: left;

	.reply-container {
		width: 100%;
	}

	.comment-container {
		width: 100%;
	}
}

.new-post-input {
	width: 85% !important;
	margin: 0 auto;
}

.rank {
	font-weight: bold;
	font-size: 25px;
	line-height: 0.75;
}









